#### PREMKUMAR SITARAM VARMA 
Assignment 1 (ineuron)

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6

ANS:    * --> Mathematical Operator (Expression) used to multiplication.
    'hello'-->  It string datatype(string value)
    -87.8 -->   float datatype(float value)
    -     -->   Mathematical Operator used to Substraction.(Expression)
    /     -->   Mathematical Operator used to Division but gives result in float number.(Expression)
    +     -->   Mathematical Operator used to Addition.(Expresison)
    6     -->   Integer datatype.(Integer value)

In [11]:
a = 12*2
print(a)
print(type(a))

24
<class 'int'>

In [12]:
b = 'hello'
print(b)
print(type(b))

hello
<class 'str'>

In [13]:
c = -87.8
print(c)
print(type(c))

-87.8
<class 'float'>

In [14]:
d = 12-2
print(d)
print(type(d))

10
<class 'int'>

In [15]:
e = 12+2
print(e)
print(type(e))

14
<class 'int'>

In [17]:
f = 12/2 ##Gives result in float
g = 12//2  ##Gives result in int
print(f)
print(g)
print(type(f))
print(type(g))

6.0
6
<class 'float'>
<class 'int'>

In [18]:
h = 6
print(type(h))

<class 'int'>

2. What is the difference between string and variable?
ANS: string is type of datatype which can be used for charectors but to hold that specific charector we need variable which we can assign our charector. A string is a collection of one or more charector put in single , double or triple quote which can be represented by (str)

In [20]:
# eg of string is
p = 'Prem' # here p is my variable and 'Prem' is my string
type(p)

str

3. Describe three different data types.
ANS: There are various datatypes like list , string , int , float , boolean , tuple , set etc this all built in datatypes
1) List: An ordered sequence of items is called List. It is a very flexible data type in Python. There is no need for the value in the list to be of the same data type. The List is the data type that is highly used data type in Python.  

2)Tuple: A Tuple is a sequence of items that are in order, and it is not possible to modify the Tuples. The main difference list and tuples are that tuple is immutable, which means it cannot be altered. Tuples are generally faster than the list data type in Python because it cannot be changed or modified like list datatype.

3)String: A String is a sequence of Unicode characters. In Python, String is called str. Strings are represented by using Double quotes or single quotes. If the strings are multiple, then it can be denoted by the use of triple quotes " " ,' ' or """  """.

In [26]:
# 1)List
a = [1,2,3 ,   "PREM" , 12.8 , True ] # collection of all datatypes
print(a)
print(type(a))

[1, 2, 3, 'PREM', 12.8, True]
<class 'list'>

In [27]:
# 2)Tuple
b = (1 ,2 ,3 ,4 ,5)
print(b)
print(type(b))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [31]:
#3) String
c = 'Prem' 
print(c) 
print(type(c))
d = "Prem"
e = """Hello there my name is Prem Varma"""

Prem
<class 'str'>

4. What is an expression made up of? What do all expressions do?
ANS: An expression is an instruction that combines values and operators and always evaluates down to a single value. Expression can be made up of operators , values , variables. like a+b-5 is expression.

In [34]:
a = 10
b = 15
c = a+b-5
print(c)
print(type(c))

20
<class 'int'>

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
ANS:  Statements represent an action or command e.g print statements, assignment statements. Expression is a combination of variables, operations and values that yields a result value. Expressions always returns a value statement not.
Eg of statements : loops, classes, import, def, try, except, pass, del
Eg of Expression : a+b+5 , a+b-5 , "PREM" , 32+65-11

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
ANS: When we print both in same cell result will be 22+1 that is 23 but when i check bacon variable again it will give me 22 beacuse i assign that variable 22 (=) it is assignment operator and my (+) is for addition when i assign that first bacon conatins 22 so it add 22+1 but bacon value not changed it remains 22 because using assignment operator. If u want result as 23 assign bacon = bacon +  1

In [44]:
bacon = 22
bacon + 1

23

In [45]:
bacon

22

In [46]:
bacon = bacon + 1
bacon

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'  = 'spamspamspam'
'spam' * 3           = 'spamspamspam'

In [47]:
'spam' + 'spamspam'

'spamspamspam'

In [48]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
ANS: A variable name must start with a letter or the underscore character. A variable name cannot start with a number. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) Variable names are case-sensitive (EGG or egg or E_Gg are three different variables) while 100 is not letter or the underscore character.

In [54]:
egg = 'Prem'
EGG = 'Prem'
E_Gg = 'Prem'

In [55]:
100 = 'Prem' #Gives an error

SyntaxError: can't assign to literal (<ipython-input-55-b3f1ef03ddef>, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
ANS: The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
ANS: The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. The correct way is I have eaten ' + str(99) + ' burritos.'.

In [57]:
a = 'I have eaten ' + str(99) + ' burritos.'

In [61]:
a
print(type(a))
print(a)

<class 'str'>
I have eaten 99 burritos.